<div class="fondop">
	<p id="notice"><%= notice %></p>
	<div class="pisos">
		<p>
	  		<%= @area.nombre %>
		</p>
		<p>
			<div>
	  			<%= image_tag (@area.image.url), height: '600', width: '600' %>
	  		</div>
		</p>
		<%= link_to 'Edit', edit_floor_area_path(@floor,@area) %> |
		<%= link_to 'Back', areas_path %>
	</div>
</div>